/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

body {
  background-color: #f5f5f5 !important;
  font-family: "Vollkorn", "Times New Roman", serif;
}
@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");
article.post {
  font-family: "Computer Modern Sans", sans-serif;
}


header {
  font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif;
}

.site-title {
  font-size: 1.0rem;
  color: #DDDDDD !important;
}
.site-nav .page-link {
  font-size: 1.0rem;
  color: #DDDDDD !important;
}

.site-nav a:hover {
  color: !important #24292e;
}

.home {
  max-width: 700px;
  margin: auto;
  // font-size: 1.2rem !important;
}

.home a:hover {
  text-decoration: none;
}

.blurb-meta {
  float: right;
  font-size: 90%;
}

dd {
  display: list-item;
  list-style-type: "\1F4AD";
  padding-inline-start: 1ch;
  margin-bottom: 1em;
}

.katex { font-size: 1.17rem !important; }

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";
