// override defalt minima variables

// width of the content area
// can be set as "px" or "%"
$content-width:    1200px;
$on-palm:          700px;
$on-laptop:        800px;
$on-medium:        1000px;
$on-large:         1000px;
$background-color: #f5f5f5;
